doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/arena/custom/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/arena/custom/dist/css/jquery.autocompleter.css')
    link(rel='stylesheet', href='/arena/custom/dist/css/jquery.simplewizard.css')
    link(rel='stylesheet', href='/arena/custom/dist/css/pricing.css')
    link(rel='stylesheet', href='/arena/custom/dist/css/style.css')
    link(rel='stylesheet', href='/arena/custom/dist/css/dashboard.css')
    link(href='/arena/custom/dist/css/email.css', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/arena/custom/dist/js/feather.min.js')    
    script(src='/arena/custom/assets/js/vendor/popper.min.js')
    script(src='/arena/custom/dist/js/bootstrap.min.js')
    script(src='/arena/custom/assets/js/vendor/holder.min.js')
    script(src='/arena/custom/dist/js/jquery.autocompleter.js')
    script(src='/arena/custom/dist/js/jquery.simplewizard.js')
    script(src='/arena/custom/dist/js/jquery.validate.min.js')
    script(src='/arena/custom/dist/js/logout.js')
  body
    block content

